.contract-versions .table td {
    padding-bottom: 0;
}
.buttons button {
    margin-right: 20px;
}
.ck-content {
    min-height: 300px;
    border: 1px solid royalblue !important;
}
.comment-datetime {
    font-size: 14px;
}
.pointer {
    cursor: pointer;
}
